* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-bio: #c5f82aff;

  --grey-link: #333333ff;
  --grey-bg: #1f1f1fff;
  --grey-bg-cont: #141414ff;

  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 37.5rem;
  height: inherit;
  color: var(--color-white)
  background-color: var(--grey-bg-cont);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.card {
  max-width: 32.7rem;
  padding: 2.4rem;
  background-color: var(--grey-bg);
  border-radius: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  max-width: 8.8rem;
  height: auto;
  border-radius: 50%;

  margin-block-end: 2.4rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;

  padding: 0.4rem 1.7rem;
  margin-block-end: 0.4rem;
}

.location {
  color: var(--green-bio);
  font-size: 1.4rem;
  font-weight: 600;

  padding: 0.4rem 0;

  margin-block-end: 2.4rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.4rem 0;
  margin-block-end: 2.4rem;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  list-style: none;
}

li {
  width: 100%;
}

.social-link:link,
.social-link:visited {
  display: block;
  width: 100%;
  min-width: 27.9rem;
  font-size: 1.25rem;
  box-sizing: border-box;

  font-weight: 600;
  color: white;
  text-decoration: none;
  line-height: 1.4;
  background-color: var(--grey-link);
  padding: 1.2rem;
  border-radius: 0.8rem;

  transition: background-color 0.5s, transform 0.5s;
}

.social-link:hover,
.social-link:focus {
  color: var(--grey-bg-cont);
  cursor: pointer;
  background-color: var(--green-bio);
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 48rem) {
  .container {
    max-width: 76.8rem;
  }
  .card {
    max-width: 38.4rem;
    padding: 4rem;
  }
  .links {
    width: 30.4rem;
    max-width: none;
  }
  .social-link {
    padding: 1.267rem;
  }
}

@media (min-width: 76.8rem) {
  .container {
    max-width: 144rem;
  }
  .card {
    max-width: 38.4rem;
    padding: 4rem;
  }
  .links {
    width: 30.4rem;
    max-width: none;
  }
  .social-link {
    padding: 1.267rem;
  }
}
